<!DOCTYPE html>
<html lang="es"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Red P Colombia</title>
  <meta name="Description" content="Parqueaderos Montallantas y Lava autos">
  <meta name="Ivan Martinez C" description="Developer">
   <!-- <meta name="turbolinks-cache-control" content="no-cache" >  -->
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.ico' %>


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen:400,300,700">
  <link href="https://fonts.googleapis.com/css?family=Wendy+One|Anton" rel="stylesheet">

  <%= stylesheet_link_tag    'layoutvideo', media: 'all', 'data-turbolinks-track' => true ,'data-turbolinks-track': 'reload' %>
   <!-- Datatable CDN -->
  <%= stylesheet_link_tag 'https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css', media: "all", 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag 'https://cdn.datatables.net/responsive/2.2.0/css/responsive.dataTables.min.css', media: "all", 'data-turbolinks-track': 'reload' %>



  <%= javascript_include_tag 'layoutvideo', 'data-turbolinks-track' => true, 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag "//maps.google.com/maps/api/js?key=AIzaSyC-rTnZeEdXeNX4oIRjP6cj33zregPQPIY" %>
  <%= javascript_include_tag "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js" %>
  <%= javascript_include_tag "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

  <%= javascript_include_tag 'https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js'%>
  <%= javascript_include_tag 'https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js'%>
</head>
  <body class="margin-bottom-footer">

    <video id="my-video" class="video" muted="" loop="" poster="<%= asset_path("backg1.png")%>" ) %>">
      <source id="video" src="<%= video_path("parkingfull.webm")%>" type="video/webm">
    </video><!-- /video -->
    <% if user_signed_in? %>
      <%= render 'partials/navbar'%>
    <%end%>

    <div class="content " style="margin-bottom: 110px;">



      <% unless flash.empty? %>
        <script type="text/javascript">
          <% flash.each do |f| %>
            <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
            toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
        </script>
      <% end %>

      <%= yield %>

      <footer id="footer" class="navbar-fixed-bottom text-center">
            <p style="color:white; margin-bottom: 0px;">
              Vanmartc Developments 2017 &copy;. All rights reserved &#174;.
            </p>
      </footer>

    </div><!-- /content -->


  </body>
  <script>
  ( function() {
    /**
     * Video element
     * @type {HTMLElement}
     */
    var video = document.getElementById("my-video");

    /**
     * Check if video can play, and play it
     */
    video.addEventListener( "canplay", function() {
      video.play();
    });
  })();

  function GetCookie(name) {
    var arg=name+"=";
    var alen=arg.length;
    var clen=document.cookie.length;
    var i=0;
    while (i<clen) {
        var j=i+alen;

        if (document.cookie.substring(i,j)==arg)
            return "1";
        i=document.cookie.indexOf(" ",i)+1;
        if (i==0)
             break;
     }
    return null;
}

function aceptar_cookies(){
    var expire=new Date();
    expire=new Date(expire.getTime()+86400000);
    document.cookie="cookies_surestao=aceptada; expires="+expire;

    var visit=GetCookie("cookies_surestao");
    if (visit==1){
        popbox3();
    }
}

jQuery(function() {
    var visit=GetCookie("cookies_surestao");
    if (visit==1){
        $('#overbox3').toggle();
    } else {
        var expire=new Date();
        expire=new Date(expire.getTime()+86400000);
        document.cookie="cookies_surestao=aceptada; expires="+expire;
    }
});

function popbox3() {
    $('#overbox3').toggle();
}
  </script>
</html>
